body {
    background: #2c2c2c;
}


aside {
    float: left;
    background: #181818;
    width: 300px;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;

}

aside img {
    width: 80px;
    float: left;

}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside .nav {
 margin-top: 50px;
 font-size: 25px;
}

aside ul {list-style: none}



aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;


}


aside ul li:hover, aside ul a:hover {

color: red;
text-decoration: none;
transform: scale(1.05);


}



main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
 font-size: 40px;
}

main .features p {max-width: 400px;margin: 20px auto}

main .features_doc {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: left;
    width: 75%;
}

main .features_doc h1 {
 font-size: 50px;
}

main .features_doc p {margin: 20px 10px 10px 10px}

main .features_doc a {text-decoration: none}

main .features_detail {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: left;
    width: 75%;
}

main .features_detail h1 {
 font-size: 50px;
}

main .features_detail p {margin: 20px 10px 10px 10px}

main .features_detail a {text-decoration: none}



.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 30%;
    text-align: left;
}

.detail {
    float: left;
    clear: both;
    width: 1000px;
    margin: 20px 30%;
    text-align: left;
}

form{
margin-left: 50px;
width: 500px;
margin-top: 50px;
}


